page-carrer-info {
    .logo_img{
        height: 100% !important;
        width: 100% !important;
        margin-bottom: 10% !important;
    }
    .my_icon{
        background-color: #fcb800;
        color: #1a305f; 
        padding: 0px 7px;
     
    }
    .cont{
        background-color: #fcb800;
        text-align: center;
        height: 10%;
        padding-top: 1px;
        margin: 3% 0%;
    }
    .grid {
        padding: 0px !important;
        
    }
}
