<ion-header >

 
    <ion-toolbar color="dark_blue">
        <ion-title *ngIf="!sr ">
             التسويق 
          </ion-title>
        <ion-searchbar [(ngModel)]="term" showCancelButton="true" *ngIf="sr ">
        </ion-searchbar>
  
        <ion-buttons star>
            <button *ngIf="!sr " ion-button icon-only (click)="back()"> 
                <ion-icon name="arrow-back"></ion-icon>
              رجوع
             
            </button>
          </ion-buttons>
  
    <ion-buttons end>
      <button *ngIf="sr " ion-button icon-only (click)="ser_Input()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button *ngIf="!sr " ion-button icon-only (click)="ser_Input()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content class="bg_img" padding>



 
<div class="cont"  *ngFor=" let item of myMarkating |filter:term; let i = index ">
       <div class="parallelogram1"></div>
      <div class="circle"><h1>{{i +1}}</h1></div>
      <div class="parallelogram2">
        <h2 style="margin-bottom: 0;">{{item.title}}</h2>
        <p style="margin-top: 0;">{{item.description}}</p>
      </div>
</div>

</ion-content>
