page-aldalel-list {
    ion-content {
    direction: rtl;
}
.fram{
    position: absolute; 
}
.tit1{
    position: relative;
    z-index: 99;
    padding: 1% 46% 0 0;
}
.tit2{
    position: relative;
    z-index: 99;
    padding: 0 39% 0 0;
}
.searchbar-ios-cancel {
    .button-inner{
        display: none;
    }
    
}
.logo{
    width: 66px;
    height: 66px;
    z-index: 999;
    position: absolute;
    margin: 7% 9%;
}

}
